html {
	font-family: monospace;
    background: #fff;
    color: #444;
}

#container {
    margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
    max-width: 500px;
    min-width: 400px;
	border-radius: 3px;
}

#timer-box {
	font-size: 470%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	cursor: default;
}

.time-unit {
	color: #888888;
	font-size: 50%;
	position: relative;
	left: -30px;
}

.box {
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
}

#controlBox {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: solid 1px #ccc;
}

button {
	display: inline-block;
	padding: 10px;
	background: #bbbbee;
	cursor: pointer;
	border: none;
	width: 100px;
}

input {
	text-align: right;
	padding: 10px;
	width: 100px;
}

#minutes {
	border: none;
	background: #ddddee;
}

#minutes-label {
	margin-right: 60px;
}